@import '../../styles/theme';
// .serverNavigation {
//     float: left;
//     border-right: 1px solid $color-borders-main;
//     height: 100vh;
//     width: 250px;
//     .serverNavigation__header {
//         // margin: 0 auto;
//         // height: 50px;
//         // border-bottom: 1px solid $color-borders-main;
//         // // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
//         // color: $typography-1;
//         // padding: 15px 10px;
//         // font-weight: bold;
//         // text-align: center;
//         font-size: 14px;
//         span {
//             position: relative;
//             top: -2px;
//             left: 5px;
//             font-size: 6px;
//         }
//     }
// }
.server-navigation {
    position: relative;
    float: left;
    border-right: 1px solid $color-borders-main;
    height: 100vh;
    width: 245px;
    .server-navigation-header {
        height: 55px;
        padding: 20px 15px;
        border-bottom: 1px solid $color-borders-main;
        h4 {
            margin-top: -5px;
            margin-left: 20px;
            color: $typography-1;
            font-size: 15px;
        }
        span {
            position: relative;
            top: -2px;
            left: 20px;
            font-size: 10px;
            font-weight: bold;
        }
    }
}
