@import '../../styles/theme';
.community-navigation {
    border-right: 1px solid $color-borders-main;
    width: 245px;
    .community-navigation-header {
        height: 55px;
        padding: 20px 15px;
        border-bottom: 1px solid $color-borders-main;
        h4 {
            margin-top: -5px;
            margin-left: 20px;
            color: $typography-1;
            font-size: 15px;
        }
        span {
            position: relative;
            top: -2px;
            left: 20px;
            font-size: 10px;
            font-weight: bold;
        }
    }
}
