@import '../../styles/theme';

.profile {
    .profile_header {
        height: 195px;
        border-bottom: 2px solid orange;
        position: relative;
        .profile_header_top {
            height: 100px;
            border-bottom: 2px solid red;
            .user_info {
                //border: 2px solid yellow;
                width: 500px;
                height: 100px;
                position: absolute;
                margin-top: 30px;
                margin-left: 50px;
                .avatar {
                    float: left;
                    img {
                        width: 100px;
                        height: 100px;
                        float: inherit;
                        border-radius: 100%;
                        border: 2px solid $palace-gold;
                        box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
                        margin-left: 20px;
                    }
                }
                .info {
                    width: 100%;
                    float: left;
                    position: absolute;
                    margin-left: 50px;
                    margin-top: 5px;
                    h1 {
                        font-size: 30px;
                        font-family: "Ubuntu";
                        color: rgb(245, 245, 245);
                        font-weight: bold;
                        position: absolute;
                        padding: 0px;
                        left: 100px;
                        top: 10px;
                    }
                    .rank_area {
                        left: 220px;
                        position: relative;
                        margin-top: 10px;
                        p.rank {
                            height: 15px;
                            line-height: 15px;
                            color: #fff;
                            font-size: 10px;
                            text-shadow: 0 1px 1px rgba(0 ,0, 0, 0.4);
                            padding: 0 12px;
                            margin: 10px 5px 0 5px;
                            background: #00AAAA;
                            float: left;
                            border-radius: 5px;
                            &.premium {
                                color: rgb(0, 234, 255);
                                background-color: rgba(0, 234, 255, 0.38);    
                            }
                            &.admin {
                                color: rgb(192, 45, 45);
                                background-color: rgba(192, 45, 45, 0.38); 
                            }
                            &.staff {
                                color: rgb(211, 190, 45);
                                background-color: rgba(211, 190, 45, 0.38);
                            }
                            &.online {
                                color: rgb(0, 150, 0);
                                background-color: rgba(0, 150, 0, 0.38);
                            }
                            &.watchdog {
                                color: rgb(71, 230, 67);
                                background-color: rgba(71, 230, 67, 0.38);
                            }
                        }
                    }
                    p.member_since {
                        font-size: 14px;
                        height: 20px;
                        line-height: 33px;
                        float: left;
                        position: absolute;
                        margin-top: 25px;
                        left: 70px;
                    }
                }
            }
        }
        .profile_header_bottom {
            width: 100%;
            display: inline-flex;
            height: 96px;
            //border: 2px dashed yellow;
            .stats_area {
                position: absolute;
                //border: 2px dashed pink;
                height: 60px;
                width: 840px;
                left: -60px;
                margin: 28px 0 28px 220px;
               // background: green;
                .stats {
                    list-style: none;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    align-content: center;
                    li {
                        //border: 2px solid white;
                        border-radius: 25px;
                        background-color: rgba(14, 9, 37, 0.38);
                        width: 100px;
                        height: 40px;
                        .stats-image {
                            font-size: 14px;
                            font-weight: normal;
                            letter-spacing: -1px;
                            color: blue;
                            position: relative;
                            top: 8px;
                            left: 10px;
                            &.friends { //Add className to all stats shit
                                color: rgb(57, 205, 227);
                            }
                            &.servers {
                                color: rgb(57, 227, 121);
                            }
                            &.clubs {
                                color: rgb(232, 134, 80);
                            }
                            &.awards {
                                color: rgb(222, 91, 91);
                            }
                            &.matches {
                                color: rgb(222, 193, 91);
                            }
                        }
                        .stats-info {
                            width: 100px;
                            height: 40px;
                            position: absolute;
                            bottom: 23px;
                            .stats-data {
                                font-size: 12px;
                                font-family: "Ubuntu";
                                color: rgb(245, 245, 245);
                                font-weight: bold;
                                margin-left: 10px;
                                top: 10px;
                                position: absolute;
                            }
                            .stats-text {
                                font-size: 7px;
                                font-family: "Ubuntu";
                                color: rgb(159, 159, 159);
                                text-align: left;
                                position: relative;
                                margin-left: 20px;
                                top: 25px;
                                overflow: hidden;
                                white-space: nowrap;
                            } 
                        }
                    }
                    li.status-area {
                        width: 258px;
                        position: relative;
                        .status-mark {
                            color: rgb(80, 223, 232);
                            font-size: 14px;
                            font-weight: normal;
                            letter-spacing: -1px;
                            position: relative;
                            top: 8px;
                            left: 10px;
                        }
                        .status-edit {
                            color: rgb(48, 24, 120);
                            position: inherit;
                            font-size: 14px;
                            left: 60px;
                            bottom: 51px;

                        }
                        .status-current {
                            font-size: 12px;
                            font-family: "Ubuntu";
                            color: rgb(80, 223, 232);
                            font-weight: bold;
                            position: relative;
                            bottom: 20px;
                            margin-left: 10px;
                        }
                        span.status-text {
                            font-size: 8px;
                            position: relative;
                            font-family: "Ubuntu";
                            color: rgb(245, 245, 245);
                            bottom: 48px;
                            margin-left: 35px;
                        }
                    }
                }
            }
            .user_tools_area {
                position: absolute;
                //border: 2px dashed pink;
                height: 60px;
                width: 400px;
                left: 745px;
                margin: 28px 0 28px 220px;
                // background: green;
                .user_tools {
                    list-style: none;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    align-content: center;
                    li {
                    //border: 2px solid white;
                    border-radius: 10px;
                    background-color: rgba(0, 234, 255, 0);
                    position: relative;
                    width: 100px;
                    height: 40px;
                    &.tool_addFriend {
                        border: 2px solid rgba(0, 234, 255, 0.8);
                        background-color: rgba(0, 234, 255, 0.38);
                    }
                    &.tool_message {
                        border: 2px solid rgba(71, 230, 67, 0.8);;
                        background-color: rgba(71, 230, 67, 0.38);
                    }
                    &.tool_report {
                        border: 2px solid rgba(192, 45, 45, 0.8);
                        background-color: rgba(192, 45, 45, 0.38);
                    }
                    .tool {
                        width: 100px;
                        height: 40px;
                        text-align: center;
                        line-height: 2;
                        a {
                            font-weight: normal;
                            pointer-events: none;
                            font-size: 12px;
                            text-transform: uppercase;
                            &.tool_addFriend_text {
                                color: rgba(0, 234, 255, 0.8);
                            }
                            &.tool_message_text {
                                color:rgba(71, 230, 67, 0.8);
                            }
                            &.tool_report_text {
                                color:rgba(192, 45, 45, 0.8);
                            }
                        }
                    }
                    }
                }

            }
        }
    }
}