@import './theme';
@import 'bootstrap/scss/bootstrap.scss';
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(22, 4, 51, 0.9) 0%, rgba(14, 3, 53, 0.9) 100%), url('../images/bg-nottransparent.png');
    -webkit-app-region: no-drag;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $typography-1;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    h1 {
        font-size: 30px;
        padding: 1em;
    }
    p {
        font-size: 15px;
        padding: 0em 2em;
    }
    a {
        text-decoration: none;
        color: $palace-gold;
        font-weight: bold;
        &:hover {
            text-shadow: 1px 1px 4px $palace-gold;
        }
    }
    button:focus {
        outline: 0;
    }
}
.windowsTitlebar {
    display: inline-flex;
    width: 100%;
    z-index: 999;
    position: relative !important;
    padding: 0px !important;
    height: 30px;
    background-color: rgb(29, 19, 68);
    -webkit-app-region: drag;
    .windowControls {
        margin-left: auto;
        display: inline-flex;
        -webkit-app-region: no-drag;
        .controlButton {
            padding: 4px 15px;
            font-size: 15px;
            background-color: transparent;
            border-color: transparent;
            color: rgb(150, 150, 150);
            &:hover {
                background-color: rgb(44, 30, 100);
                color: #fff;
            }
            &:nth-child(3) {
                &:hover {
                    background-color: rgb(255, 66, 66);
                    color: #fff;
                }
            }
        }
    }
    // .windowControls {
    //     margin-left: auto;
    //     ul {
    //         display: inline-flex;
    //         li {
    //             list-style-type: none;
    //             padding: 4px 15px;
    //             font-size: 15px;
    //             &:hover {
    //                 background-color: rgb(35, 33, 49);
    //             }
    //             &:nth-child(3) {
    //                 &:hover {
    //                     background-color: rgb(255, 66, 66);
    //                 }
    //             }
    //         }
    //     }
    // }
}
.wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
// .app__wrapper {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     .app__sideNav__left {
//         float: left;
//         max-width: 100%;
//     }
//     .app__container {
//         position: relative;
//         left: 15px;
//         top: 0;
//         display: flex;
//         width: 100%;
//     }
// }




// .container {
// 	position: relative;
// 	overflow: hidden;
// 	width: 100%;
// 	height: 100%;
// 	padding: 0;
// 	margin: 0;
// }

// .app__sidebar-left {
//     position: absolute;
//     top: 0;
//     left: 0;
// 	overflow: hidden;
// 	display: flex;
// 	width: 78px;
// 	flex-direction: column;
// 	flex-shrink: 0;
// 	color: #777777;
// }


.app__sidebarLeft {
    max-width: 70px;
    padding-right: 0px;
    padding-left: 0px;
    display: block;
}

.app__sidebar-left--alt {
    max-width: 90px;
    padding-right: 0px;
    margin-right: -4px;
}

.app__sidebarRight {
    max-width: 90px;
    padding-left: 0px;
    top: 66px;
}
.app__main {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}
.draggableTop {
    height: 66px;
    max-width: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    -webkit-app-region: drag;
}

.mainContainer {
    height: 100%;
}


$primary: #007bff;

// Password strength meter color for the different levels
$strength-colors: (darkred, orangered, orange, yellowgreen, green);

// Gap width between strength meter bars
$strength-gap: 6px;

// body {
//   font-size: 62.5%;
// }

.login--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  .card {
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    width: 425px;
    background-color: rgba(45, 31, 86, 0.9);
    .card-header {
      text-align: center;
      border: none;
      padding: 0;
      padding-bottom: 10px;
      .verseLogo {
        max-width: 75%;
        height: auto;
      }
      .form-label {
        text-transform: uppercase;
        font-size: 12px;
        color: white;
      }
    }
  }
}

legend.form-label {
  font-size: 1.5rem;
  color: desaturate(darken($primary, 10%), 60%);
}

.control-label {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  padding-left: 0;
  font-size: 0.8125em;
}

.form-control {
  font-size: 1rem;
}

.form-hint {
  font-size: 0.6rem;
  line-height: 1.4;
  margin: -5px auto 5px;
  color: #999;

  &.error {
    color: #C00;
    font-size: 0.8rem;
  }
}

button.btn {
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
}

.password-count {
  bottom: 16px;
  right: 10px;
  font-size: 1rem;
}

.strength-meter {
  position: relative;
  height: 3px;
  background: #DDD;
  margin: 7px 0;
  border-radius: 2px;

  // Dynamically create the gap effect
  &:before,
  &:after {
    content: '';
    height: inherit;
    background: transparent;
    display: block;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 $strength-gap 0;
    position: absolute;
    width: calc(20% + #{$strength-gap});
    z-index: 10;
  }

  // Dynamically create the gap effect
  &:before {
    left: calc(20% - #{($strength-gap / 2)});
  }

  // Dynamically create the gap effect
  &:after {
    right: calc(20% - #{($strength-gap / 2)});
  }
}

.strength-meter-fill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;

  // Dynamically generate strength meter color styles
  @for $i from 1 through 5 {
    &[data-strength='#{$i - 1}'] {
      width: (20% * $i);
      background: nth($strength-colors, $i);
    }
  }
}

.separator {
  position: relative;
  margin-top: 15px;
  height: 30px;
  border-left:1px solid #38304F;
}
.separator--horizontal {
  &::before {
    content: " ";
    display: block;
    border-bottom: 1px solid #38305F;
  }
}
