.no-padding {
    padding: 0px;
}
::placeholder {
    color: #747f8a;
    font-size: 13px;
    opacity: .5;
}

.btn-success{
	background-color: #863dd9;
	border-color: #863dd9;
	&:hover{
		background-color: #863dd9;
		border-color: #863dd9;
	}
	&:active{
		background-color: #863dd9;
		border-color: #863dd9;
	}
	&:focus{
		background-color: #863dd9;
		border-color: #863dd9;
		box-shadow: none;
	}
}
.form-control{
	&:focus{
		box-shadow: none;
		border:2px solid  #863dd9;
	}

}

.form-control:focus{
	box-shadow: none;
	border: 2px solid #863dd9;
}
.form-control{
	background-color: #F8F8F8;
	margin-bottom: 20px;
	&:focus{
		background-color: #FFF;
		border-color: #CCC;
	}
}

.side-left{
    height: 100%;
    width: calc(100% - 340px);
    float: left;
    background: url("../../images/login-background.jpeg");
    background-size: 100%;
    .side-row{
        padding: 70px;
        color: #FFF;
        position: absolute;
        bottom: 0px;
       
        p{
            font-size: .9rem;
            padding-bottom: 20px;
             border-bottom: 1px solid #cccccc70;
        }
    }

}
.side-right{
    background-color: #FFF;
    height: 100%;
    width: 340px;
    float: right;
    padding: 80px 30px;
    text-align: center;
    vertical-align: middle;
    transform: translateY(25%);
    .logo{
        width: 200px;
    }
    h2{
        font-size: .8rem;
        padding: 20px 10px;
    }
    .form-row{
        label{
            font-size: .8rem;
        }
    }
    .remember{
        font-size: .8rem;
        span{
            float: right;
        }
    }
}
.login-button{
    padding: 35px 10px;
    text-align: center;
    .btn{
        padding: 5px 40px;
        border-radius: 50px;
        float: none;
        margin: auto;
    }
   
}
