.user-login {
  min-height: 100vh;

  .bs-reset {
    margin: 0;
    padding: 0;
  }

  .text-right {
    text-align: right;
  }

  .login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em;

    &.login-logo-alt {
      top: 80px;
      left: 80px;
    }
  }

  .login-container {
    position: relative;
    min-height: 100vh;

    > {
      .login-content {
        margin-top: 50%;
        padding: 0 80px;

        .user-input {
          width: 50%;
          position: relative;
        }

        .left-padding {
          padding-left: 5px;
        }

        > .login-form {
          margin-top: 80px;
          color: #ffffff;
          font-size: 13px;

          .form-control {
            font-size: 15px;
            color: #ffffff;
            position: relative;
            height: 40px;
            background: none;
            border: 0;
            border-bottom: 1px solid #c2cad8;
            border-radius: 0;

            &:focus {
                box-shadow: none;
            }
            &::placeholder {
              color: #ffffff;
              opacity: 0.8;
            }
          }

          .forgot-password, .login-button {
            display: inline-block;
          }

          .forgot-password {
            margin-right: 1em;

            > a {
              color: #ffffff;

              &:focus {
                color: #a4aab2;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1365px) {
  .user-login {
    .login-logo {
      top: 40px;
      left: 40px;
    }

    .login-container {
      > .login-content {
        padding: 0 40px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .user-login {
    min-height: 50vh;

    .login-bg {
      min-height: 50vh;
    }

    .login-logo {
      position: relative;
      margin: 0 0 40px 0;
    }

    .login-container {
      min-height: 50vh;

      > .login-content {
        margin-top: 60px;

        .login-form {
          margin-top: 40px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .user-login .login-container > .login-content .text-right {
    text-align: left;
  }
}

.login-bg {
  background-image: url(../../images/login-background.jpeg);
}