.footerNotification {
    display: none;
}
.footerNotificationError {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    opacity: 1;
    padding-top: 13px;
    background: #9e1d1d !important;
}
